.header {
    border-bottom: 1px solid #acacac;
    width: 100%;
    height: 60px;

    .container {
        padding: 15px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .logo {
            margin: 0 15px;
        }

        .search {
            width: 100%;
            border: 0;
            justify-content: center;
            display: flex;

            input[type=search] {
                margin: 0 10px;
                border: 1px solid #49b3ff !important;
                width: 500px;
                border: 0;
            }
            input[type=button]{
                width: 150px;
            }
        }

        .login {
            margin: 0 15px;

            span {
                margin: 0 15px;
                height: 30px;
                width: 30px;
            }

            display: flex;
            justify-content:center;
            align-items: flex-end;
        }
    }
}
