.navbar{
    width: 100%;

    .btn{
        color: #000;
        background: #fff;
        border-radius: 0;
        border: 1px solid #000;
        &::after{
            color: #fff;
        }
    }
}